<h1>Tasks#index</h1>

<%= form_for Task.new do |f| %>
	<%= f.text_field :content %>
	<%= f.submit "Add Task" %>
<% end %>

<% if current_user %>

	<h3>Incomplete Tasks</h3>
	<div id="incomplete_tasks">
		<%= render @incomplete %>
	</div>
	<h3>Complete Tasks</h3>
	<div id="complete_tasks">
		<%= render @complete %>
	</div>

<% end %>